@font-face {
	font-family: 'DIN Condensed Bold';
	src: url('../fonts/din-condensed-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/din-condensed-bold.woff') format('woff'), url('../fonts/din-condensed-bold.ttf') format('truetype'), url('../fonts/din-condensed-bold.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'Mocha Mattari';
	src: url('../fonts/MochaMattari.eot?#iefix') format('embedded-opentype'), url('../fonts/MochaMattari.woff') format('woff'), url('../fonts/MochaMattari.ttf') format('truetype'), url('../fonts/MochaMattari.svg#svgFontName') format('svg');
}

html {
	background-color: #000;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	color: #222;
	font-family: 'DIN Condensed Bold', Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4;
	margin-bottom: 160px;
	padding-bottom: 6em;
}

body {
	margin: 0 auto;
	min-width: 1090px;
	width: 80vw;
}

a {
	color: #d71921;
}

.red-text {
	color: #d71921;
}

.superscript {
	font-size: 0.4em;
	margin-left: -0.4em;
}

.browserupgrade {
	background: #ccc;
	color: #000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}

.header {
	background-color: #000;
	border-bottom: 3px solid #d71921;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	height: 25px;
	margin: 10px;
}

.header__social {
	align-items: center;
	background-color: #d71921;
	color: #fff;
	display: flex;
	line-height: 1em;
	padding: 0 10px;
}

.header__social--share {
	margin-right: 5px;
	text-transform: uppercase;
}

.header__social--fb {
	background-color: #3B5998;
	margin-right: 5px;
	padding: 3px 10px;
}

.header__social--tw {
	background-color: #1DA1F2;
	padding: 3px 10px;
}

.content {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.column {
	width: 45%;
}

.information__image {
	background-size: cover;
	width: 90%;
}

.information__header {
	background-color: #D81921;
	box-sizing: border-box;
	color: #fff;
	font-size: 2em;
	height: 110px;
	margin-left: -1em;
	padding: 10px 0 10px 1em;
	position: relative;
	text-shadow: 2px 2px #810f14;
}

.information__header::after {
	border: 55px solid #D81921;
	border-right-color: transparent;
	content: "";
	left: 95%;
	position: absolute;
	top: 0;
	z-index: -1;
}

.information__header::before {
	border-color: transparent #810f14 transparent transparent;
	border-style: solid;
	border-width: 0 20px 20px 0;
	bottom: -20px;
	content: '';
	display: block;
	height: 0;
	left: 0;
	position: absolute;
	width: 0;
	z-index: -10;
}

.information__ribbon {
	background: linear-gradient(to right, #D11820, #A71118);
	content: ' ';
	height: 3.4em;
	left: -8.5vw;
	position: absolute;
	top: 0.7em;
	width: 10vw;
	z-index: -11;
}

.information__subheader {
	font-size: 2em;
	margin: 10px 0;
}

.information__prize {
	font-size: 1.5em;
}

.information__prize--ticket::before {
	background-color: #D81921;
	border-radius: 50%;
	color: #fff;
	content: "\f145";
	font-family: FontAwesome;
	font-size: 0.8em;
	margin-right: 10px;
	padding: 5px;
}

.information__prize--plane::before {
	background-color: #D81921;
	border-radius: 50%;
	color: #fff;
	content: "\f072";
	font-family: FontAwesome;
	font-size: 0.8em;
	margin-right: 10px;
	padding: 5px;
}

.information__prize--dollar::before {
	background-color: #D81921;
	border-radius: 50%;
	color: #fff;
	content: "\f155";
	font-family: FontAwesome;
	font-size: 0.8em;
	margin-right: 10px;
	padding: 5px 7px;
}

.entry {
	background: linear-gradient(rgba(255, 255, 255, 1) 88%, rgba(255, 255, 255, 0.95) 12%);
	box-shadow: 0 0 4px #aaa;
	padding: 30px 15px;
	position: relative;
}

.entry__textInput {
	align-content: center;
	float: left;
	width: 48%;
}

.entry__textInput input,
select {
	background-color: #F1F1F1;
	border: 1px solid #000;
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
}

.entry__textInput--phone label {
	display: block;
	width: 100%;
}

.entry__textInput--phone input {
	background-color: #F1F1F1;
	border: 1px solid #000;
	box-sizing: border-box;
	padding: 5px;
	width: 16%;
}

.entry__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
	width: 100%;
}

.entry__footnote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6em;
}

.entry__checkInput label {
	bottom: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	position: relative;
}

.entry__checkInput input {
	border: 1px solid #000;
}

.entry__submit {
	background-color: #d71921;
	border: 0;
	color: #fff;
	font-family: 'Mocha Mattari', Arial, Helvetica, sans-serif;
	font-size: 2em;
	padding: 0.5em 1em;
	position: absolute;
	right: -20px;
	text-shadow: 2px 2px #8B080C;
}

.entry__submit:after {
	border-color: #710D0D transparent transparent transparent;
	border-style: solid;
	border-width: 10px 20px 0 0;
	bottom: -10px;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: 0;
	width: 0;
	z-index: -10;
}

.entry__submit--shadow {
	background-color: #fff;
	background-color: rgba(200, 200, 200, .7);
	bottom: -5px;
	content: ' ';
	height: 5px;
	position: absolute;
	right: 20px;
	width: 4.5em;
}

.entry__captcha {
	margin-top: 10px;
	max-width: 50%;
}

.footer {
	background-color: #000;
	bottom: -220px;
	color: #8c8e90;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	position: relative;
}